name: Complete Workflow

on: ['push']

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DB_CONNECTIONSTRING: mongodb://localhost:27017/epdv-local
      AUTH_KEY: auth-key
      AUTH_TOKENEXPIRATION: 86400

    strategy:
      matrix:
        node-version: [14.x]
        mongodb-version: [4.4]

    steps:
      - uses: actions/checkout@v2
      - run: git fetch --prune --unshallow

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.1.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Install dependencies
        run: npm ci

      - name: Run all tests
        run: npm run test
